html,
body {
  margin: 0px;
  height: 100vw;
  background-color: rgb(var(--v-theme-background));
}
/*
.v-icon {
  color: rgb(var(--v-theme-icon)) !important;
}
*/

//Scrollbar
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e0404;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
